*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background: #ffffff;
}
.nav-items {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-right: 80px ;

}
.nav-items li{
    margin: 0 15px;
    font-size: 18px;
}